.container {
  border: 1px solid var(--lightBlack);
  padding: 1rem;
}

/* For this to work you need to make sure that the images are all the same size, 700 x 700 for example. */
.imgContainer {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 0;
  overflow: hidden;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.imgContainer:hover .img {
  transform: scale(1.05);
}

/* how you normally do it */
/* 
.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
  font-size: 0;
}

.img {
  position: absolute;
  width: 100%; 
  height: 100%;
  object-fit: cover;
} */

.ribbon {
  background-color: red;
  color: var(--white);
  width: fit-content;
  padding: 1rem;
}
